body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    main{
        .confirm{
            list-style-type: none;
        }
        width: 50vw;
    }
}

